## Lab_1_2:

### q1. Core variable types
Create one variable of each type: int, float, str, bool.
Print each variable and its type using type()

In [7]:
name = "Naresh"
age = 23
height = 5.4
is_student = True
print(f"name: {name}, type: {type(name)}")
print(f"age: {age}, type: {type(age)}")
print(f"height: {height}, type: {type(height)}")
print(f"is_student: {is_student}, type: {type(is_student)}")

name: Naresh, type: <class 'str'>
age: 23, type: <class 'int'>
height: 5.4, type: <class 'float'>
is_student: True, type: <class 'bool'>

### q2. Numeric operations

Pick two numbers (int & float). Perform:
+, -, *, /, //, %, **.
Observe what happens when int and float interact.

In [16]:
a = 20
b = 3.3
add =  a + b
sub = a - b
mul = a * b
div = a / b
floor_div = a // b
mod = a % b
power = a ** b
print(f"a = {a}, type: {type(a)}")
print(f"b = {b}, type: {type(b)}")
print(f"Addition = {add}, type: {type(add)}")
print(f"Subtraction = {sub}, type: {type(sub)}")
print(f"Multiplication = {mul}, type: {type(add)}")
print(f"Division = {div}, type: {type(add)}")
print(f"Floor Division = {floor_div}, type: {type(add)}")
print(f"Modulo = {mod}, type: {type(mod)}")
print(f" Exponentiation = {power}, type: {type(add)}")

a = 20, type: <class 'int'>
b = 3.3, type: <class 'float'>
Addition = 23.3, type: <class 'float'>
Subtraction = 16.7, type: <class 'float'>
Multiplication = 66.0, type: <class 'float'>
Division = 6.0606060606060606, type: <class 'float'>
Floor Division = 6.0, type: <class 'float'>
Modulo = 0.20000000000000107, type: <class 'float'>
 Exponentiation = 19651.648417852637, type: <class 'float'>

### q3. Strings operations
Concatenate two strings with +.  
Repeat a string three times with *.  
Get string length with len().  
Index the first character and slice the first 3 characters.

In [25]:
# concatenate :
first = "Hello"
second = "there!"
print(first + " "+ second)

# repeat 3 times:
print((first + " ")*3)

# string length:
print(len(first))

# index first character:
print(first[0])

# slice the first 3 characters:
print(first[:3])

Hello there!
Hello Hello Hello
5
H
Hel

### q4. Booleans & logical operators
Compare two numbers using >, ==, <.  
Combine boolean expressions with and, or, not.

In [33]:
# Compare two numbers using >, ==, <.
a = 20
b = 12
print(a>b)
print(a == b)
print(a<b)
print(a != b)

# Combine boolean expressions with and, or, not.
print()
print(a>15 and b>10)
print(a>15 or b>10)
print(not(a>15 or b>10))

True
False
False
True

True
True
False

### q5. Type casting
Convert "15" (string) → int and add to a number.  
Convert "3.5" → float and multiply.  
Convert 99 → string and concatenate.  
Convert different values to bool and observe truthiness.

In [59]:
# Convert "15" (string) → int and add to a number.
a = "15"
b = 20
print(int(a) + b)

# Convert "3.5" → float and multiply.
c = "3.5"
print(b * float(c))

# Convert 99 → string and concatenate.
d = 99
print(str(d) + " Your marks is this bro you are amazing.")

# Convert different values to bool and observe truthiness.
# 0 and 1
print(f"bool(0): {bool(0)}")
print(f"bool(1): {bool(1)}")
print(f"bool(-3): {bool(-3)}")

# with strings (empty is False, non-empty is True)
print(bool(""))   # False
print(bool(" "))   # True
print(bool("hello"))   # True

# # Collections (empty is False, non-empty is True)
print(bool([])) # False
print(f"bool([1,2]): {bool([1,2])}") # True
print(f"bool({{}}): {bool({})}")   # False
print(f"bool(()): {bool(())}")   # False
print(f"bool((1,2)): {bool((1,2))}")   # True

# Special values
print(f"bool(None): {bool(None)}")     # False')
print(f"bool(3.14): {bool(3.14)}")

35
70.0
99 Your marks is this bro you are amazing.
bool(0): False
bool(1): True
bool(-3): True
False
True
True
False
bool([1,2]): True
bool({}): False
bool(()): False
bool((1,2)): True
bool(None): False
bool(3.14): True

### q6. Truthiness & None
Create a list: [False, None, 0, 0.0, "", [], {}, set(), 42, "hi"]
Map each value to bool(value) and inspect.

In [64]:
lst = [False, None, 0, 0.0, "", " ", [], {}, set(), 42, "hi"]
for i in lst:
    print(f"bool({i!r}): {bool(i)}")
print()

print("-------------------or-------------------------")
[print(f"bool({i!r}): {bool(i)}") for i in lst]

bool(False): False
bool(None): False
bool(0): False
bool(0.0): False
bool(''): False
bool(' '): True
bool([]): False
bool({}): False
bool(set()): False
bool(42): True
bool('hi'): True

-------------------or-------------------------
bool(False): False
bool(None): False
bool(0): False
bool(0.0): False
bool(''): False
bool(' '): True
bool([]): False
bool({}): False
bool(set()): False
bool(42): True
bool('hi'): True

[None, None, None, None, None, None, None, None, None, None, None]

### q7. Dynamic typing
Assign x = 10 → print type(x)  
Reassign x = "ten" → print type(x) again

In [65]:
# Dynamic typing
# Assign x = 10
x = 10
print(f"x = {x}, type: {type(x)}")

# Reassign x = "ten"
x = "ten"
print(f"x = {x}, type: {type(x)}")

x = 10, type: <class 'int'>
x = ten, type: <class 'str'>

### q8. Mini exercise (deliverable)
Create variables: age (int), height_m (float), name (str), is_student (bool)  
Print a sentence using an f-string: e.g., "{name} is {age} years old"  
Cast age → float and height_m → int, print results, explain precision/truncation  
List 3 falsy values and 3 truthy values

In [66]:
# Create variables
age = 25                     # int
height_m = 1.75              # float  
name = "Naresh"               # str
is_student = True            # bool

# Print sentence using f-string
print(f"{name} is {age} years old, {height_m}m tall, and is a student: {is_student}")

# Cast age → float and height_m → int
age_as_float = float(age)
height_as_int = int(height_m)

print(f"\nCasting results:")
print(f"Original age (int): {age} → Cast to float: {age_as_float}")
print(f"Original height (float): {height_m} → Cast to int: {height_as_int}")

# Explain precision/truncation
print(f"\nExplanation:")
print("- When casting int → float: No data loss (25 → 25.0)")
print("- When casting float → int: Decimal part is TRUNCATED (1.75 → 1)")

# List 3 falsy values and 3 truthy values
print(f"\nFalsy values: 0, '', [] (empty list)")
print(f"Truthy values: 42, 'hello', [1, 2, 3] (non-empty list)")

Naresh is 25 years old, 1.75m tall, and is a student: True

Casting results:
Original age (int): 25 → Cast to float: 25.0
Original height (float): 1.75 → Cast to int: 1

Explanation:
- When casting int → float: No data loss (25 → 25.0)
- When casting float → int: Decimal part is TRUNCATED (1.75 → 1)

Falsy values: 0, '', [] (empty list)
Truthy values: 42, 'hello', [1, 2, 3] (non-empty list)